<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.exbyte.insurance.consulting.ConsultingMapper">
	
	<insert id="create">
		INSERT INTO tbl_consulting(
			consulting_no,
		    consulting_name,
		    consulting_phone,
		    consulting_birthday,
		    consulting_job,
		    consulting_call_time,
		    consulting_favorite_type,
		    consulting_region,
		    consulting_remarks
		) VALUES (
			#{consultingNo},
		    #{consultingName},
		    #{consultingPhone},
		    #{consultingBirthday},
		    #{consultingJob},
		    #{consultingCallTime},
		    #{consultingFavoriteType},
		    #{consultingRegion},
		    #{consultingRemarks}
		);
	</insert>
	
	<select id="selectByAdmin" resultMap="ConsultingResultMap">
		SELECT
			*
		FROM
			tbl_consulting
		WHERE
			consulting_no > 0
		AND admin_id = #{adminId}
	</select>

	<select id="read" resultMap="ConsultingResultMap">
		SELECT
			*
		FROM
			tbl_consulting
		WHERE
			consulting_no = #{consultingNo}
	</select>
	
	<update id="update">
		UPDATE 
			tbl_consulting
		SET
			admin_id = #{adminId}
			, consulting_name = #{consultingName}
			, consulting_phone = #{consultingPhone}
			, consulting_birthday = #{consultingBirthday}
		    , consulting_job = #{consultingJob}
			, consulting_is_call = #{consultingIsCall}
			, consulting_is_end = #{consultingIsEnd}
		    , consulting_favorite_type = #{consultingFavoriteType}
		    , consulting_region = #{consultingRegion}
			, consulting_remarks = #{consultingRemarks}
		WHERE consulting_no = #{consultingNo}
	</update>
		
	<resultMap type="PersonalVO" id="PersonalResultMap">
		<id property="userId" column="user_id"/>
		<result property="blinkAvg" column="blinkAvg" />
		<result property="eyeEar" column="eye_ear" />
		<result property="mouthEar" column="mouth_ear"/>
	</resultMap>

</mapper>