<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="com.exbyte.insurance.admin.AdminMapper">
	<insert id ="create">
		INSERT INTO tbl_admin(
			admin_id,
			admin_pw,
			admin_name,
			admin_email,
			admin_position,
			admin_point,
			session_key,
			admin_auth_key
		) VALUES (
			#{adminId},
			#{adminPw},
			#{adminName},
			#{adminEmail},
			#{adminPosition},
			#{adminPoint},
			#{sessionKey},
			#{adminAuthKey}
		)
	</insert>

	<update id="update">
		UPDATE 
			tbl_admin
		SET
		    admin_pw = #{adminPw}
		    , admin_name = #{adminName}
		    , admin_email = #{adminEmail}
		    , admin_position = #{adminPosition}
		    , admin_login_date = NOW()
		    , admin_point = #{adminPoint}
		    , session_key = #{sessionKey}
		    , admin_auth_key = #{adminAuthKey}
		WHERE 
			admin_id = #{adminId}
	</update>

	<delete id="delete">
		DELETE FROM
			tbl_admin
		WHERE
			admin_id = #{adminId};
	</delete>
	
	<select id="checkPosition" resultType="string">
		SELECT
			admin_position
		FROM
			tbl_admin
		WHERE
			admin_id = #{adminId}
	</select>

	<update id="keepSession">
		UPDATE tbl_admin
		SET
			session_key = #{sessionId}
		WHERE
			admin_id = #{adminId}
	</update>
	
	<select id="checkSession" resultType="string" >
		SELECT
			admin_id
		FROM tbl_admin
		WHERE session_key = #{value}
	</select>

	<select id="countSession" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbl_admin
		WHERE
			admin_id IS NOT NULL
			AND session_key = #{value}
	</select>
		
	<select id = "countEmail" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbl_admin
		WHERE
			admin_id IS NOT NULL
			AND admin_email = #{adminEmail}
	</select>
	
	<select id = "countId" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbl_admin
		WHERE
			admin_id IS NOT NULL
			AND admin_id = #{adminId}
	</select>
	
	<select id ="count" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbl_admin
		WHERE
			admin_id IS NOT NULL
			<include refid="checkType"/>
	</select>
	
	<select id="read" resultMap="AdminResultMap">
		SELECT
			*
		FROM
			tbl_admin
		WHERE
			admin_id = #{adminId}
	</select>
	
	<select id = "selectAdminByEmail" resultMap="AdminResultMap">
		SELECT
			*
		FROM
			tbl_admin
		WHERE
			admin_email = #{adminEmail}
	</select>
	
	
	<sql id="checkType">
		<if test="checkType != null">
			<if test="checkType == 'sessionKey'.toString">
				AND session_key = #{adminVO.sessionKey}
			</if>
			<if test="checkType == 'adminEmail'.toString">
				AND admin_email = #{adminVO.adminEmail}
			</if>
			<if test="checkType == 'adminId'.toString">
				AND admin_id = #{adminVO.adminId}
			</if>
		</if>
	</sql>
	
	<select id = "checkAuthKey" resultType="string">
		SELECT
			admin_auth_key
		FROM
			tbl_admin
		WHERE
			admin_id = #{adminId}
	</select>
	
	<update id = "updateAuthKey">
		UPDATE 
			tbl_admin
		SET
			admin_auth_key = #{adminAuthKey}
		WHERE admin_id = #{adminId}
	</update>

	<update id = "updatePw">
		UPDATE 
			tbl_admin
		SET
		    admin_pw = #{adminPw}
		WHERE 
			admin_id = #{adminId}
	</update>
	
	<select id="selectAllAdmin" resultMap="AdminResultMap">
		SELECT
			*
		FROM
			tbl_admin
		
	</select>
	
	<select id="selectAllPoint" resultMap="PointResultMap">
		SELECT
			*
		FROM
			tbl_point
		ORDER BY point_no ASC
	</select>
	

	
<resultMap type="AdminVO" id="AdminResultMap">
	<id property="adminId" column="admin_id"/>
	<result property="adminPw" column="admin_pw" />
	<result property="adminName" column="admin_name" />
	<result property="adminEmail" column="admin_email" />
	<result property="adminPosition" column="admin_position" />
	<result property="sessionKey" column="session_key" />
	<result property="adminJoinDate" column="admin_join_date" />
	<result property="adminLoginDate" column="admin_login_date" />
	<result property="adminPoint" column="admin_point" />
	<result property="adminAuthKey" column="admin_auth_key" />
</resultMap>

<resultMap type="PointVO" id="PointResultMap">
	<id property="pointNo" column="point_no"/>
	<result property="pointName" column="point_name"/>
</resultMap>

</mapper>