<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="com.exbyte.insurance.user.UserMapper">

	<insert id ="create">
		INSERT INTO
			USERS(
			id,
			password,
			name,
			email
			)
		VALUES(
			#{userId},
			#{userPassword},
			#{userName},
			#{userEmail}
		);
	</insert>
	
	<select id="select" resultMap="UserResultMap">
		SELECT
			*
		FROM
			USERS
		WHERE
			id = #{userId}
	</select>

	<delete id="delete">
		DELETE FROM
			USERS
		WHERE
			id = #{userId}
	</delete>
	<update id="update">
		UPDATE
			USERS
		SET
			password = #{userPassword}
		WHERE
			id = #{userId}
	</update>


	<resultMap type="UserVO" id="UserResultMap">
		<id property="userId" column="id"/>
		<result property="userPassword" column="password"/>
		<result property="userName" column="name"/>
		<result property="userEmail" column="email"/>
	</resultMap>

</mapper>