<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.exbyte.insurance.api.LogMapper">

	<insert id="create" useGeneratedKeys="true" keyProperty="logNo" parameterType="LogVO">
		INSERT INTO tbl_log(
			blink,
		    user_id,
		    stage,
		    cur_time,
		    driving_time,
		    pitch,
		    roll,
		    yaw,
            mar,
            right_ear,
            left_ear,
            reason
		) VALUES (
			#{blink},
		    #{userId},
		    #{stage},
		    #{curTime},
		    #{drivingTime},
		    #{pitch},
		    #{roll},
		    #{yaw},
            #{mar},
            #{rightEar},
            #{leftEar},
            #{reason}
		);
	</insert>
	
	<delete id="delete">
	    DELETE FROM 
	    	tbl_log 
	    WHERE log_no = #{logNo}
	</delete>
	
	<select id="select" resultMap="LogResultMap">
		SELECT
			*
		FROM
			tbl_log
		WHERE
			log_no > 0
	</select>

	<select id="read" resultMap="LogResultMap">
		SELECT
			*
		FROM
			tbl_log
		WHERE
			log_no = #{logNo} 
	</select>

	<update id="updateFeedback">
	UPDATE tbl_log
	SET
		is_correct = #{isCorrect}, is_feedback = #{isFeedback}
	WHERE
		log_no = #{logNo};
	</update>

	<select id="countDrowsy" resultType="int">
		SELECT COUNT(*) FROM tbl_log
		WHERE user_id = #{userId} AND reason = #{reason}
	</select>

	<select id="countCorrectLogWithReason" resultType="int">
		SELECT
			count(*)
		FROM
			tbl_log
		WHERE
			user_id = #{userId}
			AND reason = #{reason}
			AND is_correct = 1
			AND is_feedback = 1
	</select>

	<select id="countTotalLogWithReason" resultType="int">
		SELECT
			count(*)
		FROM
			tbl_log
		WHERE
			user_id = #{userId}
			AND reason = #{reason}
			AND is_feedback = 1
	</select>


	<select id="countCorrectLog" resultType="int">
		SELECT
			count(*)
		FROM
			tbl_log
		WHERE
			user_id = #{userId}
			AND is_correct = 1
			AND is_feedback = 1
	</select>

	<select id="countTotalLog" resultType="int">
		SELECT
			count(*)
		FROM
			tbl_log
		WHERE
			user_id = #{userId}
			AND is_feedback = 1
	</select>


	<resultMap type="LogVO" id="LogResultMap">
		<id property="logNo" column="log_no"/>
		<result property="blink" column="blink" />
		<result property="userId" column="user_id" />
		<result property="stage" column="stage" />
		<result property="curTime" column="cur_time" />
		<result property="drivingTime" column="driving_time" />
		<result property="isCorrect" column="is_correct" />
		<result property="pitch" column="pitch" />
		<result property="roll" column="roll" />
		<result property="yaw" column="yaw" />
		<result property="mar" column="mar" />
		<result property="leftEar" column="left_ear" />
		<result property="rightEar" column="right_ear" />
		<result property="reason" column="reason" />
		<result property="isFeedback" column="is_feedback"/>
	</resultMap>
	
</mapper>